

<section class="page-header page-header--farmer-details">
  <div class="page-header__bg"></div>
  <!-- /.page-header__bg -->
  <div class="container">
      <h2 class="page-header__title">products</h2>
      <ul class="greenlotus-breadcrumb list-unstyled">
          <li><a href="index.html">Home</a></li>
          <li><span>
              products</span></li>
      </ul><!-- /.thm-breadcrumb list-unstyled -->
  </div><!-- /.container -->
</section>
<section class="product-one product-one--page">
  <div class="container">
      <div class="row ">
          <div class="col-lg-3">
              <div class="product__sidebar product__sidebar-right">
                  <div class="product__search">
                      <form action="#">
                          <input type="text" placeholder="Keywrord...">
                      </form>
                  </div><!-- /.search-widget -->
                  <div class="product__price-ranger">
                      <h3 class="product__sidebar--title">Price</h3>
                      <div class="price-ranger">
                          <div id="slider-range"></div>
                          <div class="ranger-min-max-block">
                              <input type="text" readonly class="min">
                              <span>-</span>
                              <input type="text" readonly class="max">
                              <input type="submit" value="Filter">
                          </div>
                      </div>
                  </div><!-- /.price-slider -->
                  <div class="product__categories">
                      <h3 class="product__sidebar--title">Categories</h3>
                      <ul class="list-unstyled">
                          <li><a href="garmentbags.html"><span class="fa fa-arrow-right"></span>Garmet Bags</a></li>
                          <li><a href="mailingbags.html"><span class="fa fa-arrow-right"></span>Mailing Bags</a></li>
                          <li><a href="petwastage.html"><span class="fa fa-arrow-right"></span>Pet Wastage</a></li>
                          <li><a href="regularcarrybags.html"><span class="fa fa-arrow-right"></span>Regular Carrybags</a></li>
                          <li><a href="apronproduct.html"><span class="fa fa-arrow-right"></span>Apron</a></li>
                          <li><a href="handgloves.html"><span class="fa fa-arrow-right"></span>Hand Gloves</a></li>
                          <li><a href="shoppingbags.html"><span class="fa fa-arrow-right"></span>Shopping Bags</a></li>
                          <li><a href="products.html"><span class="fa fa-arrow-right"></span>Vegetable Bags</a></li>
                          <li><a href="products.html"><span class="fa fa-arrow-right"></span>Ziplock Bags</a></li>

                      </ul>
                  </div><!-- /.category-widget -->
              </div><!-- /.shop-sidebar -->
          </div><!-- /.col-lg-3 -->
          <div class="col-lg-9">
              <div class="product__info-top">
                  <div class="product__showing-text-box">
                      <p class="product__showing-text">Showing 1–9 of 12 Results</p>
                  </div>
                  <div class="product__showing-sort">
                      <select class="selectpicker" aria-label="Sort by popular">
                          <option selected>Sort by popular</option>
                          <option value="1">Sort by view</option>
                          <option value="2">Sort by price</option>
                          <option value="3">Sort by ratings</option>
                      </select>
                  </div>
              </div>

              <div class="row gutter-y-30">
                  <div class="col-md-4">
                      <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                          <div class="product__item__img">
                              <img src="assets/images/products/garmet.png" alt="nisoz">
                              <div class="product__item__btn-sale">Sale</div>
                          </div><!-- /.product-image -->

                          <div class="product__item__content">
                              <a href="garmentbags.html" class="greenlotus-btn product__item__link"><span>Buy Now</span></a>
                              <div class="product__item__wrap">
                                  <div class="product__item__price-title">
                                      <h4 class="product__item__title"><a href="product-details.html">Garmet Bags</a></h4><!-- /.product-title -->
                                      <div class="product__item__price">
                                          <span class="product__item__regular-price">$200.00</span>
                                          <span class="product__item__offer-price">$250.00</span>
                                      </div><!-- /.product-price -->
                                      <p>800+ bought in past month</p>
                                  </div>

                                  <div class="product__item__ratings">
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                  </div><!-- /.product-ratings -->
                              </div>
                          </div><!-- /.product-content -->
                      </div><!-- /.product-item -->
                  </div><!-- /.col-md-6 -->
                  <div class="col-md-4">
                      <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                          <div class="product__item__img">
                              <img src="assets/images/products/mailingbags2.png" alt="nisoz">
                              <div class="product__item__btn-sale">Sale</div>
                          </div><!-- /.product-image -->

                          <div class="product__item__content">
                              <a href="mailingbags.html" class="greenlotus-btn product__item__link"><span>Buy Now</span></a>
                              <div class="product__item__wrap">
                                  <div class="product__item__price-title">
                                      <h4 class="product__item__title"><a href="product-details.html">Mailing Bags</a></h4><!-- /.product-title -->
                                      <div class="product__item__price">
                                          <span class="product__item__regular-price">$80.00</span>
                                          <span class="product__item__offer-price"></span>
                                      </div><!-- /.product-price -->
                                      <p>800+ bought in past month</p>
                                  </div>

                                  <div class="product__item__ratings">
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                  </div><!-- /.product-ratings -->
                              </div>
                          </div><!-- /.product-content -->
                      </div><!-- /.product-item -->
                  </div><!-- /.col-md-6 -->
                  <div class="col-md-4">
                      <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='400ms'>
                          <div class="product__item__img">
                              <img src="assets/images/products/petwastebags1.png" alt="nisoz">
                              <div class="product__item__btn-sale">Sale</div>
                          </div><!-- /.product-image -->

                          <div class="product__item__content">
                              <a href="petwastage.html" class="greenlotus-btn product__item__link"><span>Buy Now</span></a>
                              <div class="product__item__wrap">
                                  <div class="product__item__price-title">
                                      <h4 class="product__item__title"><a href="product-details.html">Pet Wastage</a></h4><!-- /.product-title -->
                                      <div class="product__item__price">
                                          <span class="product__item__regular-price">$200.00</span>
                                          <span class="product__item__offer-price">$250.00</span>
                                      </div><!-- /.product-price -->
                                      <p>800+ bought in past month</p>
                                  </div>

                                  <div class="product__item__ratings">
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                  </div><!-- /.product-ratings -->
                              </div>
                          </div><!-- /.product-content -->
                      </div><!-- /.product-item -->
                  </div><!-- /.col-md-6 -->
                  <div class="col-md-4">
                      <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                          <div class="product__item__img">
                              <img src="assets/images/products/carrybag1.png" alt="nisoz">
                              <div class="product__item__btn-sale">Sale</div>
                          </div><!-- /.product-image -->

                          <div class="product__item__content">
                              <a href="regularcarrybags.html" class="greenlotus-btn product__item__link"><span>Buy Now</span></a>
                              <div class="product__item__wrap">
                                  <div class="product__item__price-title">
                                      <h4 class="product__item__title"><a href="product-details.html">Regular Carrybags</a></h4><!-- /.product-title -->
                                      <div class="product__item__price">
                                          <span class="product__item__regular-price">$47.00</span>
                                          <span class="product__item__offer-price"></span>
                                      </div><!-- /.product-price -->
                                      <p>800+ bought in past month</p>
                                  </div>

                                  <div class="product__item__ratings">
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                  </div><!-- /.product-ratings -->
                              </div>
                          </div><!-- /.product-content -->
                      </div><!-- /.product-item -->
                  </div><!-- /.col-md-6 -->
                  <div class="col-md-4">
                      <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='000ms'>
                          <div class="product__item__img">
                              <img src="assets/images/products/apron1.jpg" alt="nisoz">
                              <div class="product__item__btn-sale">Sale</div>
                          </div><!-- /.product-image -->

                          <div class="product__item__content">
                              <a href="apronproduct.html" class="greenlotus-btn product__item__link"><span>Buy Now</span></a>
                              <div class="product__item__wrap">
                                  <div class="product__item__price-title">
                                      <h4 class="product__item__title"><a href="product-details.html">Apron</a></h4><!-- /.product-title -->
                                      <div class="product__item__price">
                                          <span class="product__item__regular-price">$80.00</span>
                                          <span class="product__item__offer-price"></span>
                                      </div><!-- /.product-price -->
                                      <p>800+ bought in past month</p>
                                  </div>

                                  <div class="product__item__ratings">
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                  </div><!-- /.product-ratings -->
                              </div>
                          </div><!-- /.product-content -->
                      </div><!-- /.product-item -->
                  </div><!-- /.col-md-6 -->

                  <div class="col-md-4">
                      <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                          <div class="product__item__img">
                              <img src="assets/images/products/handglove.jpg" alt="nisoz">
                              <div class="product__item__btn-sale">Sale</div>
                          </div><!-- /.product-image -->

                          <div class="product__item__content">
                              <a href="handgloves.html" class="greenlotus-btn product__item__link"><span>Buy Now</span></a>
                              <div class="product__item__wrap">
                                  <div class="product__item__price-title">
                                      <h4 class="product__item__title"><a href="product-details.html">Hand Gloves</a></h4><!-- /.product-title -->
                                      <div class="product__item__price">
                                          <span class="product__item__regular-price">$47.00</span>
                                          <span class="product__item__offer-price"></span>
                                      </div><!-- /.product-price -->
                                      <p>800+ bought in past month</p>
                                  </div>

                                  <div class="product__item__ratings">
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                  </div><!-- /.product-ratings -->
                              </div>
                          </div><!-- /.product-content -->
                      </div><!-- /.product-item -->
                  </div><!-- /.col-md-6 -->



                  <div class="col-md-4">
                      <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                          <div class="product__item__img">
                              <img src="assets/images/products/prod4.jpg" alt="nisoz">
                              <div class="product__item__btn-sale">Sale</div>
                          </div><!-- /.product-image -->

                          <div class="product__item__content">
                              <a href="shoppingbags.html" class="greenlotus-btn product__item__link"><span>Buy Now</span></a>
                              <div class="product__item__wrap">
                                  <div class="product__item__price-title">
                                      <h4 class="product__item__title"><a href="product-details.html">Shopping Bags</a></h4><!-- /.product-title -->
                                      <div class="product__item__price">
                                          <span class="product__item__regular-price">$47.00</span>
                                          <span class="product__item__offer-price"></span>
                                      </div><!-- /.product-price -->
                                      <p>800+ bought in past month</p>
                                  </div>

                                  <div class="product__item__ratings">
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                  </div><!-- /.product-ratings -->
                              </div>
                          </div><!-- /.product-content -->
                      </div><!-- /.product-item -->
                  </div><!-- /.col-md-6 -->
                  <div class="col-md-4">
                      <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                          <div class="product__item__img">
                              <img src="assets/images/products/vegetablebag1.jpg" alt="nisoz">
                              <div class="product__item__btn-sale">Sale</div>
                          </div><!-- /.product-image -->

                          <div class="product__item__content">
                              <a href="vegetablebags.html" class="greenlotus-btn product__item__link"><span>Buy Now</span></a>
                              <div class="product__item__wrap">
                                  <div class="product__item__price-title">
                                      <h4 class="product__item__title"><a href="product-details.html">Vegetable Bags</a></h4><!-- /.product-title -->
                                      <div class="product__item__price">
                                          <span class="product__item__regular-price">$47.00</span>
                                          <span class="product__item__offer-price"></span>
                                      </div><!-- /.product-price -->
                                      <p>800+ bought in past month</p>
                                  </div>

                                  <div class="product__item__ratings">
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                  </div><!-- /.product-ratings -->
                              </div>
                          </div><!-- /.product-content -->
                      </div><!-- /.product-item -->
                  </div><!-- /.col-md-6 -->
                  <div class="col-md-4">
                      <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                          <div class="product__item__img">
                              <img src="assets/images/products/ziplockbag1.jpg" alt="nisoz">
                              <div class="product__item__btn-sale">Sale</div>
                          </div><!-- /.product-image -->

                          <div class="product__item__content">
                              <a href="ziplockbags.html" class="greenlotus-btn product__item__link"><span>Buy Now</span></a>
                              <div class="product__item__wrap">
                                  <div class="product__item__price-title">
                                      <h4 class="product__item__title"><a href="product-details.html">Ziplock Bags</a></h4><!-- /.product-title -->
                                      <div class="product__item__price">
                                          <span class="product__item__regular-price">$47.00</span>
                                          <span class="product__item__offer-price"></span>
                                      </div><!-- /.product-price -->
                                      <p>800+ bought in past month</p>
                                  </div>

                                  <div class="product__item__ratings">
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                  </div><!-- /.product-ratings -->
                              </div>
                          </div><!-- /.product-content -->
                      </div><!-- /.product-item -->
                  </div><!-- /.col-md-6 -->
              </div><!-- /.row -->
          </div><!-- /.col-lg-9 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.product-one product-one--page -->
