
<footer class="main-footer background-black-2">
  <div class="main-footer__bg background-black-2"
      style="background-image: url(assets/images/shapes/footer-shape1-1.png);"></div>
  <!-- /.main-footer__bg -->
  <div class="main-footer__top">
      <div class="container">
          <div class="row">
              <div class="footer-widget__col footer-widget__col__col1">
                  <div class="footer-widget footer-widget--about">
                      <a href="index.html" class="footer-widget__logo">
                          <img src="assets/images/logo-light.png" width="155" alt="greenlotus HTML Template">
                      </a>
                      <p class="footer-widget__experience-text">A biodegradable carry bag is an eco-friendly alternative to traditional plastic bags. </p>

                      <div class="mc-form__response"></div><!-- /.mc-form__response -->
                  </div><!-- /.footer-widget -->
              </div><!-- /.col-md-6 -->

              <div class="footer-widget__col  footer-widget__col__col2">
                  <div class="footer-widget footer-widget--links">
                      <h5 class="footer-widget__title">Links</h5>
                      <ul class="list-unstyled footer-widget__links">
                          <li><a href="index.html">Home</a></li>
                          <li><a href="list.html">Products</a></li>
                          <li><a href="customizeservice.html">Customize Service </a></li>
                          <li><a href="sustainability.html">Sustainability</a></li>
                          <li><a href="aboutus.html">About Us</a></li>
                          <li><a href="contact.html">Support</a></li>
                      </ul><!-- /.list-unstyled footer-widget__links -->
                  </div><!-- /.footer-widget -->
              </div><!-- /.col-md-6 -->
              <div class="footer-widget__col  footer-widget__col__col3">
                  <div class="footer-widget footer-widget--explore">
                      <h5 class="footer-widget__title">Explore Link</h5><!-- /.footer-widget__title -->
                      <ul class="list-unstyled footer-widget__links">
                          <li><a href="returnsandrefunds.html">Returns & Refunds</a></li>
                          <li><a href="#">Careers</a></li>
                          <li><a href="shippingpolicy.html">Shipping Policy</a></li>
                          <li><a href="#">About us</a></li>
                          <li><a href="termsandconditions.html">Terms and Conditions</a></li>
                      </ul><!-- /.list-unstyled footer-widget__links -->
                  </div><!-- /.footer-widget -->
              </div><!-- /.col-md-6 -->
              <div class="footer-widget__col  footer-widget__col__col4">
                  <div class="footer-widget footer-widget--blog">
                      <h5 class="footer-widget__title">Popular Post</h5><!-- /.footer-widget__title -->
                      <form action="#" data-url="MAILCHIMP_FORM_URL"
                      class="footer-widget__newsletter mc-form">
                      <div class="footer-widget__mail-address">
                          <input type="text" name="EMAIL" placeholder="Email address">
                          <div class="footer-widget__mail-icon"><i class="icon-email1"></i></div>
                      </div>
                      <button type="submit" class="form-submit-btn">Subscribe Now !</button>
                  </form><!-- /.footer-widget__newsletter mc-form -->


                  </div><!-- /.footer-widget -->
              </div><!-- /.col-md-6 -->
          </div><!-- /.row -->
      </div><!-- /.container -->
  </div><!-- /.main-footer__top -->

  <div class="main-footer__bottom">
      <div class="container">
          <div class="main-footer__bottom__inner">
              <p class="main-footer__copyright"> &copy; <span class="dynamic-year"></span> GreenLotus All
                  Rights Reserved</p>
              <div class="main-footer__social-row">
                  <p class="main-footer__social-row-text">Social</p>
                  <ul class="main-footer__social-list">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
              </div>
          </div><!-- /.main-footer__inner -->
      </div><!-- /.container -->
  </div><!-- /.main-footer__bottom -->
</footer><!-- /.main-footer -->
