<section class="page-header page-header--farmer-details">
  <div class="page-header__bg"></div>
  <!-- /.page-header__bg -->
  <div class="container">
      <h2 class="page-header__title">About us</h2>
      <ul class="greenlotus-breadcrumb list-unstyled">
          <li><a href="index.html">Home</a></li>
          <li><span>About us</span></li>
      </ul><!-- /.thm-breadcrumb list-unstyled -->
  </div><!-- /.container -->
</section>



<section class="farmer-details-one">
  <div class="farmer-details-one__wrap container">
      <div class="farmer-details-one__row row">
          <div class="farmer-details-one__image">
              <img src="assets/images/about/about2.png" alt="">
          </div>
          <div class="farmer-details-one__content--wrap">
              <div class="farmer-details-one__content--wrap__info">
                  <h5 class="farmer-details-one__content--wrap__info-title">Green Lotus Eco Solutions</h5>
                  <h6 class="farmer-details-one__content--wrap__info-subtitle">Embracing a Greener Future</h6>
                  <p class="farmer-details-one__content--wrap__titleinfo">Green Lotus Eco Solutions stands at the intersection of innovation and environmental stewardship. Our mission is clear: to introduce sustainable, biodegradable alternatives to everyday products, starting with our flagship corn starch-based carry bags. Born from a passion for preserving our planet, we're dedicated to reducing the impact of plastic pollution, one eco-friendly solution at a time.
                  </p>
              </div>
              <ul class="list-unstyled farmer-details-one__content--wrap__contact d-none">
                  <li class="farmer-details-one__content--wrap__item">
                      <i class="icon-email1 farmer-details-one__content--wrap__icon"></i>
                      <div class="farmer-details-one__content--wrap__support">
                          <strong class="farmer-details-one__content--wrap__support-heading">Email Me</strong>
                          <a href="mailto:Help12@gmail.com">Help12@gmail.com</a>
                          <a href="mailto:Suport1@gmail.com">Suport1@gmail.com</a>
                      </div>
                  </li>
                  <!-- <li class="farmer-details-one__content--wrap__item">
                      <i class="icon-location1 farmer-details-one__content--wrap__icon"></i>
                      <div class="farmer-details-one__content--wrap__support">
                          <strong class="farmer-details-one__content--wrap__support-heading">My Address</strong>
                          <a href="#">21 King Street 5th Floor Hamilton, Ontario Canada</a>
                      </div>
                  </li> -->
              </ul>

              <div class="main-footer__social-row">
                  <p class="main-footer__social-row-text">Social</p>
                  <ul class="main-footer__social-list">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
              </div>

              <div class="farmer-details-one__content--wrap__emergency-call">
                  <h6 class="farmer-details-one__content--wrap__call-text">Do You Have An Emergency?</h6>
                  <div class="farmer-details-one__content--wrap__tel-bx">
                      <i class="icon-phone1"></i>
                      <a href="tel:+00(88)1745651" class="farmer-details-one__content--wrap__tel-number">+447823975823</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
