<section class="page-header page-header--farmer-details">
  <div class="page-header__bg"></div>
  <!-- /.page-header__bg -->
  <div class="container">
      <h2 class="page-header__title">Contact us</h2>
      <ul class="greenlotus-breadcrumb list-unstyled">
          <li><a href="index.html">Home</a></li>
          <li><span>Contact us</span></li>
      </ul><!-- /.thm-breadcrumb list-unstyled -->
  </div><!-- /.container -->
</section>


<section class="contact-information-one p-r z-1 pt-215 pb-130">
  <div class="information-img_one wow fadeInRight"><img src="assets/images/contact/contact.jpg" alt="Imaged"></div>
  <div class="container">
      <div class="row">
          <div class="col-xl-9 col-lg-12">
              <div class="contact-two_information-box">
                  <div class="section-title section-title-left mb-50 wow fadeInUp">
                      <span class="sub-title">Get In Touch</span>
                      <h2>Be part of the change, contact us here!
                      </h2>
                  </div>
                  <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="information-item-two info-one mb-30 wow fadeInDown">
                              <div class="icon">
                                      <i class="icon-location"></i>

                              </div>
                              <i class="icon-location green_icon"></i>
                              <div class="info">
                                  <h5>Locations</h5>
                                  <p>164 strathmore crescent, Newcastle, NE4 8UA</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="information-item-two mb-30 info-two wow fadeInUp">
                              <div class="icon">
                                  <i class="icon-email"></i>
                              </div>
                              <i class="icon-email green_icon"></i>
                              <div class="info">
                                  <h5>Email Address</h5>
                                  <p><a href="#"><span class="__cf_email__">info@greenlotuseco.co.uk</span></a></p>
                                  <p><a href="#">support@greenlotuseco.co.uk</a></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="information-item-two mb-30 info-three wow fadeInDown">
                              <div class="icon">
                                  <i class="icon-phone"></i>
                              </div>
                              <i class="icon-phone green_icon"></i>
                              <div class="info">
                                  <h5>Phone Number</h5>
                                  <p><a href="tel:+447823975823">+447823975823</a></p>
                                  <p><a href="tel:+0123456">+0123456</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-8">
                         <p>Join the Green Revolution! Ready to transform your world with eco-friendly choices? Connect with us and discover how easy and impactful going green can be!
                      </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--====== End Contact Information section ======-->
<!--====== Start Map section ======-->
<section class="contact-page-map">
  <div class="map-box">
      <!-- <iframe src="https://maps.google.com/maps?q=new%20york&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe> -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2289.845430853677!2d-1.6586376224409114!3d54.97580975156758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487e7713943ca32d%3A0xa53952dc72778ad0!2s164%20Strathmore%20Cres%2C%20Newcastle%20upon%20Tyne%20NE4%208UA%2C%20UK!5e0!3m2!1sen!2sin!4v1711027169635!5m2!1sen!2sin" width="" height="" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section><!--====== End Map section ======-->
    <!--====== Start Contact Section ======-->
    <section class="contact-three pb-70 wow fadeInUp">
      <div class="container">
          <div class="row justify-content-end">
              <div class="col-xl-7 col-lg-10">
                  <div class="contact-three_content-box">
                      <div class="section-title section-title-left mb-60">
                          <span class="sub-title">Get In Touch</span>
                          <h2>Need Bio Plastic Bags !
                              Send Us Message</h2>
                      </div>
                      <div class="contact-form">
                          <form>
                              <div class="form_group">
                                  <input type="text" class="form_control" placeholder="Full Name" name="name" required>
                              </div>
                              <div class="form_group">
                                  <input type="email" class="form_control" placeholder="Email Address" name="email" required>
                              </div>
                              <div class="form_group">
                                  <textarea class="form_control" placeholder="Write Message" name="message"></textarea>
                              </div>
                              <div class="form_group">
                                  <button class="main-btn btn-yellow">Send Us Message</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
