<!-- main-slider-end -->



<div class="bg_header wrapper">

  <!-- main-slider-start -->
  <div class="">
    <div class="content">
      <div class="product-img">
        <div class="product-img__item" id="img1">
          <img src="assets/banner/slide3.png" alt="star wars" class="product-img__img">
        </div>
        <div class="product-img__item" id="img2">
          <img src="assets/banner/slide1.png" alt="star wars" class="product-img__img">
        </div>
        <div class="product-img__item" id="img3">
          <img src="assets/banner/slide2.png" alt="star wars" class="product-img__img">
        </div>
      </div>
      <div class="product-slider">
        <div class="product-slider__wrp swiper-wrapper">
          <div class="product-slider__item swiper-slide" data-target="img1">
            <div class="product-slider__card">
              <div class="product-slider__content">
                <h1 class="product-slider__title">
                  Green Lotus <br>
                  Eco Solutions
                </h1>
                <span class="product-slider__price">Leading the Change with Biodegradable Carry
                  Bags
                </span>
                <div class="product-ctr">
                  <div class="product-labels">
                    <div class="product-labels__title">Our Composite products make a
                      positive impact on the environment</div>
                  </div>
                </div>
                <div class="product-slider__bottom">
                  <a href="list.html">
                    <button class="product-slider__fav js-fav">
                      Our Products</button>
                  </a>
                  <a href="contact.html">
                    <button class="product-slider__cart">
                      Get Sample</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="product-slider__item swiper-slide" data-target="img2">
            <div class="product-slider__card">
              <div class="product-slider__content">
                <h1 class="product-slider__title">
                  Green Lotus <br>
                  Eco Solutions
                </h1>
                <span class="product-slider__price">Leading the Change with Biodegradable Carry
                  Bags
                </span>
                <div class="product-ctr">
                  <div class="product-labels">
                    <div class="product-labels__title">Your Partner in Sustainable Living
                      and Eco-Friendly Choices
                    </div>
                  </div>
                </div>
                <div class="product-slider__bottom">
                  <a href="list.html">
                    <button class="product-slider__fav js-fav">
                      Our Products</button>
                  </a>
                  <a href="contact.html">
                    <button class="product-slider__cart">
                      Get Sample</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="product-slider__item swiper-slide" data-target="img3">
            <div class="product-slider__card">
              <div class="product-slider__content">
                <h1 class="product-slider__title">
                  Green Lotus <br>
                  Eco Solutions
                </h1>
                <span class="product-slider__price">Leading the Change with Biodegradable Carry
                  Bags
                </span>
                <div class="product-ctr">
                  <div class="product-labels">
                    <div class="product-labels__title">Your Partner in Sustainable Living
                      and Eco-Friendly Choices
                    </div>
                  </div>
                </div>
                <div class="product-slider__bottom">
                  <a href="list.html">
                    <button class="product-slider__fav js-fav">
                      Our Products</button>
                  </a>
                  <a href="contact.html">
                    <button class="product-slider__cart">
                      Get Sample</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="slider_arrow">
      <button class="prev disabled">
        <span class="icon">
          <svg class="icon icon-arrow-right">
            <use xlink:href="#icon-arrow-left"></use>
          </svg>
        </span>
      </button>
      <button class="next">
        <span class="icon">
          <svg class="icon icon-arrow-right">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </span>
      </button>
    </div>


  </div>
</div>

<div class="hr_line"></div>
<section class="opening">
  <div class="container">
    <div class="opening__wrapper">
      <div class="row">
        <div class="col-md-3">
          <div class="opening__info-row text-center">
            <div class="opening__info-row__icon">
              <!-- <i class="icon-phone"></i> -->
              <img src="assets/images/services/s1.png" alt="">
            </div>
            <div class="opening__info-row__content">
              <span class="opening__info-row__support-text">Natural Material</span>
              <!-- <p class="opening__info-row__support-number"><a href="tel:+88013004451">+88 013 00
                                            44 51 </a></p> -->
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="opening__info-row text-center">
            <div class="opening__info-row__icon">
              <img src="assets/images/services/s2.png" alt="">
            </div>
            <div class="opening__info-row__content">
              <span class="opening__info-row__support-text">Bio Degradable</span>
              <!-- <p class="opening__info-row__support-number">294 Crosby Brook Road</p> -->
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="opening__info-row text-center">
            <div class="opening__info-row__icon">
              <img src="assets/images/services/s3.png" alt="">
            </div>
            <div class="opening__info-row__content">
              <span class="opening__info-row__support-text">Eco Friendly</span>
              <!-- <p class="opening__info-row__support-number"><a
                                            href="mailto:Support@gmail.com">Support@gmail.com</a></p> -->
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="opening__info-row text-center">
            <div class="opening__info-row__icon">
              <img src="assets/images/services/s4.png" alt="">
            </div>
            <div class="opening__info-row__content">
              <span class="opening__info-row__support-text">Plastic Alternative</span>
              <!-- <p class="opening__info-row__support-number"><a
                                            href="mailto:Support@gmail.com">Support@gmail.com</a></p> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!-- /.container -->
</section><!-- /.opening -->
<section class="food-one">
  <div class="container">
    <div class="row food-one__content-bx">
      <div class="food-one__left fadeInLeft wow" data-wow-delay="200ms">
        <div class="section-common-title">
          <span class="food-one__chose-reasone food-chose-reasone">
            <img class="food-one__chose-icon food-chose-icon" src="assets/images/smallbg.png" alt="">
            <strong class="food-one__chose-name food-chose-name">Your reason to chose us</strong>
          </span>
          <h2 class="food-one__title food-chose-title">Transform the Way with Our Bio Plastic Solutions</h2>
          <p class="food-one__text food-chose-text">Green Lotus bioplastic solutions offer an eco-friendly alternative
            to traditional plastics, harnessing the power of sustainable materials to reduce environmental impact and
            foster a greener future.
          </p>
        </div>

        <div class="food-one__featurebx">
          <div class="food-one__col">
            <div class="food-one__cricle">
              <i class="icon-medal food-one__icon" aria-hidden="true"></i>
            </div>
            <div class="food-one__quality-info-bx">
              <h6 class="food-one__quality-title">Compostable Material</h6>
              <p class="food-one__quality-info">Our bioplastic products are made from materials that are fully
                compostable, breaks down easily in the environment. Perfect for reducing waste.
              </p>
            </div>
          </div>

          <div class="food-one__col">
            <div class="food-one__cricle">
              <i class="icon-crops food-one__icon" aria-hidden="true"></i>
            </div>
            <div class="food-one__quality-info-bx">
              <h6 class="food-one__quality-title">Durable</h6>
              <p class="food-one__quality-info">As strong as regular plastic. Great for everyday use. </p>
            </div>
          </div>
          <div class="food-one__col">
            <div class="food-one__cricle">
              <i class="icon-crops food-one__icon" aria-hidden="true"></i>
            </div>
            <div class="food-one__quality-info-bx">
              <h6 class="food-one__quality-title">Water Resistant</h6>
              <p class="food-one__quality-info">Effectively repels water. Suitable for various weather conditions.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="food-one__right fadeInRight wow" data-wow-delay="200ms">
        <div class="food-one__right-img">
          <img src="assets/images/choose/choose.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section><!-- /.food-one -->
<section class="testimonials-one testimonials-one--home">
  <div class="container">
    <div class="section-common-title">
      <span class="testimonials-one__chose-reasone food-chose-reasone fadeInLeft wow" data-wow-delay="200ms">
        <img class="testimonials-one__chose-icon food-chose-icon" src="assets/images/smallbg.png" alt="">
        <strong class="testimonials-one__chose-name food-chose-name">Our Products</strong>
      </span>
      <h2 class="testimonials-one__title food-chose-title fadeInLeft wow" data-wow-delay="200ms">
        Compostable and Bio Degradable</h2>
    </div>

    <div id="fda_product_tile"
      class="testimonials-one__carousel greenlotus-owl__carousel greenlotus-owl_carousell--with-shadow greenlotus-owl__carousel--basic-nav owl-carousel"
      data-owl-options='{
                            "items": 1,
                            "margin": 0,
                            "loop": false,
                            "smartSpeed": 700,
                            "nav": true,
                            "dots": false,
                            "autoplay": true,
                            "autoplaySpeed":1000,
                            "autoplayTimeout": 1000,
                            "responsive": {
                                "0": {
                                    "items": 1
                                },
                                "768": {
                                    "items": 3,
                                    "margin": 15
                                },
                                "992": {
                                    "items": 4,
                                    "margin": 15
                                }
                            }
                        }'>
      <div class="item project-item fadeIn wow" data-wow-delay="200ms">
        <div class="img-holder">
          <img src="assets/images/products/garmet.png" alt="Gallery Image">
          <div class="hover-portfolio">
            <div class="hover-content">
              <h3 class="title"><a href="portfolio-details.html" tabindex="-1">Garment Bags</a>
              </h3>
              <p><a href="#" tabindex="-1">Eco-Friendly </a>,<a href="#" tabindex="-1">Packaging</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="item project-item fadeIn wow" data-wow-delay="00ms">
        <div class="img-holder">
          <img src="assets/images/products/mailingbags2.png" alt="Gallery Image">
          <div class="hover-portfolio">
            <div class="hover-content">
              <h3 class="title"><a href="portfolio-details.html" tabindex="-1">Mailing Bags</a>
              </h3>
              <p><a href="#" tabindex="-1">Eco-Friendly </a>,<a href="#" tabindex="-1">Envelopes</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="item project-item">
        <div class="img-holder">
          <img src="assets/images/products/petwastebags1.png" alt="Gallery Image">
          <div class="hover-portfolio">
            <div class="hover-content">
              <h3 class="title"><a href="portfolio-details.html" tabindex="-1">Pet Waste Bags</a>
              </h3>
              <p><a href="#" tabindex="-1">Eco-Friendly </a>,<a href="#" tabindex="-1">Pet Cleanup</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="item project-item">
        <div class="img-holder">
          <img src="assets/images/products/carrybag1.png" alt="Gallery Image">
          <div class="hover-portfolio">
            <div class="hover-content">
              <h3 class="title"><a href="portfolio-details.html" tabindex="-1">Regular Carry Bags</a>
              </h3>
              <p><a href="#" tabindex="-1">Eco-Friendly </a>,<a href="#" tabindex="-1">Packaging</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="item project-item fadeIn wow" data-wow-delay="100ms">
                        <div class="img-holder">
                            <img src="assets/images/products/apron1.jpg" alt="Gallery Image">
                            <div class="hover-portfolio">
                                <div class="hover-content">
                                    <h3 class="title"><a href="portfolio-details.html" tabindex="-1">Apron</a>
                                    </h3>
                                    <p><a href="#" tabindex="-1">Eco-Friendly </a>,<a href="#" tabindex="-1">Protection</a></p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="item project-item fadeIn wow" data-wow-delay="300ms">
                        <div class="img-holder">
                            <img src="assets/images/products/handglove.jpg" alt="Gallery Image">
                            <div class="hover-portfolio">
                                <div class="hover-content">
                                    <h3 class="title"><a href="portfolio-details.html" tabindex="-1">Hand Gloves</a>
                                    </h3>
                                    <p><a href="#" tabindex="-1">Eco-Friendly </a>,<a href="#" tabindex="-1">Hand Protection</a></p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="item project-item">
                        <div class="img-holder">
                            <img src="assets/images/products/prod3.jpg" alt="Gallery Image">
                            <div class="hover-portfolio">
                                <div class="hover-content">
                                    <h3 class="title"><a href="portfolio-details.html" tabindex="-1">Shopping Bags</a>
                                    </h3>
                                    <p><a href="#" tabindex="-1">Eco-Friendly </a>,<a href="#" tabindex="-1">Retail Bags</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item project-item">
                        <div class="img-holder">
                            <img src="assets/images/products/vegetablebag1.jpg" alt="Gallery Image">
                            <div class="hover-portfolio">
                                <div class="hover-content">
                                    <h3 class="title"><a href="portfolio-details.html" tabindex="-1">Vegetable Bags</a>
                                    </h3>
                                    <p><a href="#" tabindex="-1">Eco-Friendly </a>,<a href="#" tabindex="-1">Produce Bags</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item project-item">
                        <div class="img-holder">
                            <img src="assets/images/products/ziplockbag1.jpg" alt="Gallery Image">
                            <div class="hover-portfolio">
                                <div class="hover-content">
                                    <h3 class="title"><a href="portfolio-details.html" tabindex="-1">Zip Lock Bags</a>
                                    </h3>
                                    <p><a href="#" tabindex="-1">Eco-Friendly </a>,<a href="#" tabindex="-1">Storage Bags</a></p>
                                </div>
                            </div>
                        </div>
                    </div> -->
    </div><!-- /.testimonials-one__carousel -->
  </div><!-- /.container -->
</section><!-- /.testimonials-one -->
<section class="why-choose-one">
  <div class="container">
    <div class="section-common-title fadeInDown wow" data-wow-delay="200ms">
      <span class="why-choose-one__chose-reasone food-chose-reasone">
        <img class="why-choose-one__chose-icon food-chose-icon" src="assets/images/smallbg.png" alt="">
        <strong class="why-choose-one__chose-name food-chose-name">Why chose us</strong>
      </span>
      <h2 class="why-choose-one__title food-chose-title">Choosing Green Lotus for a Healthy Planet
      </h2>
    </div>

    <div class="row why-choose-one__row">
      <div class="why-choose-one__col col-xl-3 wow fadeIn" data-wow-delay="100ms">
        <div class="why-choose-one__bg">
          <div class="why-choose-one__bg-inner">
            <div class="why-choose-one__top">
              <div class="why-choose-one__icon-bx">
                <i class="icon-apple why-choose-one__icon"></i>
              </div>

              <div class="why-choose-one__top__right">
                <h6 class="why-choose-one__name">Eco-Forward <br> Alternative</h6>
              </div>
            </div>

            <div class="why-choose-one__content">
              <p class="why-choose-one__descript">Our products offer a sustainable choice, providing a responsible and
                effective alternative to traditional plastics, helping to protect the Earth with every use.</p>
              <a href="#" class="why-choose-one__read-btn">Read
                More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="why-choose-one__col col-xl-3 wow fadeIn" data-wow-delay="200ms">
        <div class="why-choose-one__bg">
          <div class="why-choose-one__bg-inner">
            <div class="why-choose-one__top">
              <div class="why-choose-one__icon-bx">
                <i class="icon-crop why-choose-one__icon"></i>
              </div>

              <div class="why-choose-one__top__right">
                <h6 class="why-choose-one__name">Dependable <br> Quality</h6>
              </div>
            </div>

            <div class="why-choose-one__content">
              <p class="why-choose-one__descript">Trust our products for their strength and reliability. Eco-friendly
                doesn't mean less effective.
              </p>
              <a href="#" class="why-choose-one__read-btn">Read
                More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="why-choose-one__col col-xl-3 wow fadeIn" data-wow-delay="300ms">
        <div class="why-choose-one__bg">
          <div class="why-choose-one__bg-inner">
            <div class="why-choose-one__top">
              <div class="why-choose-one__icon-bx">
                <i class="icon-medicine why-choose-one__icon"></i>
              </div>

              <div class="why-choose-one__top__right">
                <h6 class="why-choose-one__name">Innovation and <br> Excellence</h6>
              </div>
            </div>

            <div class="why-choose-one__content">
              <p class="why-choose-one__descript">We continuously improve with advanced, sustainable technologies,
                ensuring you get the best eco-friendly products.
              </p>
              <a href="#" class="why-choose-one__read-btn">Read
                More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="why-choose-one__col col-xl-3 wow fadeIn" data-wow-delay="400ms">
        <div class="why-choose-one__bg">
          <div class="why-choose-one__bg-inner">
            <div class="why-choose-one__top">
              <div class="why-choose-one__icon-bx">
                <i class="icon-crops why-choose-one__icon"></i>
              </div>

              <div class="why-choose-one__top__right">
                <h6 class="why-choose-one__name">Customer-Centric <br> Approach</h6>
              </div>
            </div>
            <div class="why-choose-one__content">
              <p class="why-choose-one__descript">Your satisfaction is our priority. We're here to support your
                eco-friendly journey with products you can rely on.</p>
              <a href="#" class="why-choose-one__read-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="why-choose-one__more-choose">
    <div class="why-choose-one__more-choose--bg">
      <h4 class="why-choose-one__more-choose--title">100% Eco, 100% Effective - For a <br> Greener Tomorrow .</h4>
      <div class="why-choose-one__more-choose--btn">
        <a href="services.html" class="greenlotus-btn why-choose-more--btn"><span>More
            Services</span></a>
      </div>
    </div>
  </div>
</section><!-- /.why-choose-one -->
<section class="eco-services-one jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% -100%"
  style="background-image: url('assets/images/choose/callbg.jpg')">
  <div class="eco-services-one__wrap container">
    <div class="row eco-services-one__bx">
      <div class="eco-services-one__info text-center fadeInDown wow" data-wow-delay="200ms">
        <img class="eco-services-one__tree-icon" src="assets/images/loader.png" alt="">
        <h2 class="eco-services-one__title">Our small steps to be eco-friendly can make a huge change</h2>
        <div class="eco-services-one__btn">
          <a href="services.html" class="greenlotus-btn eco-services-one--btn"><span>Explore
              More</span></a>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.eco-services-one -->

<section class="work-learn-one">
  <div class="eco-services-one--label">
    <div class="eco-services-one--label__inner">
      <img class="eco-services-one--label__logo-shape" src="assets/images/shapes/eco-organic-shape1-1.png" alt="">
      <div class="eco-services-one--label__logo-bx">
        <img class="eco-services-one--label__logo" src="assets/images/choose/eco.png" alt="">
      </div>
    </div>
  </div>
  <div class="container work-learn-one__wrap">
    <div class="section-common-title">
      <span class="work-learn-one__chose-reasone food-chose-reasone fadeInLeft wow" data-wow-delay="200ms">
        <img class="work-learn-one__chose-icon food-chose-icon" src="assets/images/smallbg.png" alt="">
        <strong class="work-learn-one__chose-name food-chose-name">Our Cleaning Process</strong>
      </span>
      <h2 class="work-learn-one__title food-chose-title fadeInLeft wow" data-wow-delay="200ms">Embrace the eco-friendly
        revolution:</h2>
      <p class="work-learn-one__text food-chose-text fadeInRight wow" data-wow-delay="200ms">a collective journey toward
        sustainability, where each small, green choice we make today shapes a healthier, more vibrant Earth for
        generations to come.</p>
    </div>
    <div class="work-learn-one__bx">
      <div class="work-learn-one__col fadeIn wow" data-wow-delay="100ms">
        <div class="work-learn-one__inner">
          <div class="work-learn-one__img">
            <div class="work-learn-one__inner-img"><img src="assets/images/work-learn/work-learn1-1.png" alt=""></div>
          </div>
          <h5 class="work-learn-one__work-title">Our Plan</h5>
        </div>
      </div>

      <div class="work-learn-one__col fadeIn wow" data-wow-delay="200ms">
        <div class="work-learn-one__inner">
          <div class="work-learn-one__img">
            <div class="work-learn-one__inner-img"><img src="assets/images/work-learn/work-learn1-2.png" alt=""></div>
          </div>
          <h5 class="work-learn-one__work-title">Planet Friendly</h5>
        </div>
      </div>

      <div class="work-learn-one__col fadeIn wow" data-wow-delay="300ms">
        <div class="work-learn-one__inner">
          <div class="work-learn-one__img">
            <div class="work-learn-one__inner-img"><img src="assets/images/work-learn/work-learn1-3.png" alt=""></div>
          </div>
          <h5 class="work-learn-one__work-title">Quality Pdoduct</h5>
        </div>
      </div>

      <div class="work-learn-one__col fadeIn wow" data-wow-delay="400ms">
        <div class="work-learn-one__inner">
          <div class="work-learn-one__img">
            <div class="work-learn-one__inner-img"><img src="assets/images/work-learn/work-learn1-4.png" alt=""></div>
          </div>
          <h5 class="work-learn-one__work-title">We Deliver</h5>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.work-learn-one -->
<div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">

        <img src="assets/images/resources/eco_friend.png" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">UK Bolsters Renewable Energy Efforts with New Funding" - Early 2023, BBC News
        </div>
        <div class="blog-slider__text">
          In early 2023, BBC News reported that the UK government announced additional funding for renewable energy
          projects, underscoring its commitment to achieving net-zero emissions by 2050 and supporting wind and solar
          power developments.
        </div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="assets/images/resources/nature-abstract.jpg" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">Major UK Retailers Commit to Eliminating Single-Use Plastics" - Late 2022, The
          Guardian</div>
        <div class="blog-slider__text">
          Around late 2022, The Guardian highlighted a significant move by major UK supermarket chains to reduce plastic
          waste. This included initiatives to phase out single-use plastic bags, implement sustainable packaging
          solutions, and enhance plastic recycling programs.
        </div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>

    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="assets/images/resources/eco2.png" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">Breakthrough in Biodegradable Materials by UK Innovators" - Mid-2023, Financial
          Times</div>
        <div class="blog-slider__text">Financial Times, in mid-2023, covered the progress made by UK-based startups and
          researchers in developing biodegradable materials. These innovations presented promising alternatives to
          traditional plastics and were gaining traction in the industry.
        </div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>

  </div>
  <div class="blog-slider__pagination"></div>
</div>

