<section class="page-header page-header--farmer-details">
  <div class="page-header__bg"></div>
  <!-- /.page-header__bg -->
  <div class="container">
    <h2 class="page-header__title">Sustainability</h2>
    <ul class="greenlotus-breadcrumb list-unstyled">
      <li><a href="index.html">Home</a></li>
      <li><span>Sustainability</span></li>
    </ul><!-- /.thm-breadcrumb list-unstyled -->
  </div><!-- /.container -->
</section>
<section class="project-details">
  <div class="project-details__wrap container">
    <div class="project-details__thum-image">
      <img src="assets/images/resources/project-d-content1-1.jpg" alt="">
    </div>

    <div class="project-details__row row">
      <h2>The Green Revolution: Corn Starch-Based Bioplastics</h2>
      <div class="project-details__content">
        <h3 class="project-details__subtitle">Embracing Sustainable Technology</h3>
        <p class="project-details__text">In the heart of sustainable innovation lies the development of corn
          starch-based bioplastics, a promising solution to the global plastic waste dilemma. This technology leverages
          the natural properties of corn starch to create plastic bags that offer both functionality and environmental
          responsibility. </p>
        <h2>The Technology Behind Corn Starch Bioplastics
        </h2>
        <h3 class="project-details__subtitle">Extraction and Conversion:
        </h3>
        <p class="project-details__text">The journey begins with the extraction of starch from corn kernels. This starch
          is a natural biopolymer, consisting of long chains of glucose molecules.
        </p>
        <p class="project-details__text">Through a process known as polymerization, the extracted starch is then
          converted into polylactic acid (PLA), a type of bioplastic that mimics the properties of conventional plastics
          but with the added advantage of being biodegradable.
        </p>
        <h3 class="project-details__subtitle">Fabrication:
        </h3>
        <p class="project-details__text">The PLA is melted and extruded into films or sheets, which can then be cut and
          sealed into bags. This process allows for the production of bags of various sizes and thicknesses, tailored to
          meet different needs and applications.
        </p>

        <h3 class="project-details__subtitle">Biodegradation Process:
        </h3>
        <p class="project-details__text">When exposed to the right composting conditions (specifically, a combination of
          oxygen, moisture, and certain temperatures), corn starch-based bags begin to break down. Microorganisms in the
          compost or soil consume the PLA, converting it back into carbon dioxide, water, and biomass. This process
          typically takes a few months, a stark contrast to the centuries required for traditional plastic degradation.
        </p>
        <h2>Environmental Impact and Advantages

        </h2>
        <h3 class="project-details__subtitle">Reduced Carbon Footprint
        </h3>
        <p class="project-details__text">The production of corn starch-based bioplastics emits fewer greenhouse gases
          compared to petroleum-based plastics, due to the renewable nature of corn and the efficiency of the
          manufacturing process.
        </p>

        <h3 class="project-details__subtitle">Minimized Pollution
        </h3>
        <p class="project-details__text">Since these bioplastics are designed to biodegrade, they significantly reduce
          the amount of waste ending up in landfills and oceans, addressing one of the critical sources of environmental
          pollution.
        </p>

        <h3 class="project-details__subtitle">Sustainable Resource Use
        </h3>
        <p class="project-details__text">Corn, as a feedstock for these bioplastics, is a renewable resource. Its use
          helps decrease reliance on finite resources like oil, contributing to a more sustainable material economy.
        </p>
        <h2>Challenges and Future Directions
        </h2>
        <p class="project-details__text">Ongoing research and innovation are focused on optimizing the efficiency and
          sustainability of this technology, including the development of genetically modified corn that requires fewer
          resources to grow and exploring more efficient composting methods.
        </p>
        <section class="get-touch-one get-touch-one--farmer_gettouch-details">
          <div class="container">
            <div class="row get-touch-one__row">
              <h4 class="farmer_gettouch__title-text text-center">Please send your message to us</h4>
              <div class="get-touch-one__form col-sm-12">
                <form action="assets/inc/sendemail.php" class="contact-form-validated" novalidate="novalidate">
                  <div class="get-touch-one__form-row w-100">
                    <div class="get-touch-one__form-row__col">
                      <div class="get-touch-one__form-group col-sm-12 col-md-6">
                        <input type="text" name="name" class="get-touch-one__field" placeholder="Your Name">
                        <div class="get-touch-one__field-bd-effect"></div>
                      </div>

                      <div class="get-touch-one__form-group col-sm-12 col-md-6">
                        <input type="email" name="email" class="get-touch-one__field" placeholder="Email Address">
                        <div class="get-touch-one__field-bd-effect"></div>
                      </div>
                    </div>

                    <div class="get-touch-one__form-row__col">
                      <div class="get-touch-one__form-group col-sm-12 col-md-6">
                        <input type="number" name="phone" class="get-touch-one__field" placeholder="Phone">
                        <div class="get-touch-one__field-bd-effect"></div>
                      </div>

                      <div class="get-touch-one__form-group col-sm-12 col-md-6">
                        <input type="text" name="subject" class="get-touch-one__field" placeholder="Title">
                        <div class="get-touch-one__field-bd-effect"></div>
                      </div>
                    </div>

                    <div class="get-touch-one__form-group textarea--group">
                      <textarea name="Message" class="get-touch-one__field textarea--field"
                        placeholder="Content"></textarea>
                      <div class="get-touch-one__field-bd-effect"></div>
                    </div>


                    <div class="get-touch-one__form-group textarea--group">
                      <input type="file" name="attachment" class="get-touch-one__field" placeholder="attachment" style="background: none;
                                          border: transparent;">
                      <span>Only supports .rar/.zip/.jpg/.png/.gif/.doc/.xls/.pdf, maximum 20MB.</span>
                      <div class="get-touch-one__field-bd-effect"></div>
                    </div>

                    <div class="form-submit-btn-wrap">
                      <button class="form-submit-btn" type="submit">Send a Message</button>
                    </div>
                  </div>
                </form>
                <div class="result"></div>
              </div>
            </div>
          </div>
        </section>
      </div>


    </div>
  </div>
</section>
